<link data-turbolinks-track="true" href="/assets/sample.css?body=1" media="all" rel="stylesheet" />
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="row" style="height:80px;">
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="background-color=rgba(0, 0, 0, .8);">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">reNBA</a>
      </div>
    </div>
  </nav>
</div>

<div class="container videos">
  <div class="row">
      <div class="col-md-9">

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src=<%= YtVid.string_to_url(@video.try(:video_code),{embed: true, autoplay: true, origin: request.env["REQUEST_URI"]}) %>>></iframe>
        </div>

      </div>

    <div class="col-md-3">
      <table class="table game-info" style="width:100%;margin-top:40px;">
        <tr>
          <th>
            <span class="h3">GAME INFO</span>
          </th>
        </tr>
        <tr>
          <td>
            <span class="text-muted"><%= @game.date.strftime("%A %B %e, %Y") %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="h4">Home</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted"><%= @game.home_team %></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="h4">Away</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text-muted"><%= @game.away_team %></span>
          </td>
        </tr>
      </table>
      <table class="table links" style="width:100%;margin-top:40px;">
        <% @links.each do |link_item|%>
          <tr>
            <td>
              <span class="pull-right"><a href="<%= link_item.try(:href) %>"><%= link_item.try(:name) %></a></span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>



  </div>
  <div class="row">
    <br /><br />
    <div class="text-center"><h3><%= @game.home_team %></h3></div>
    <%= create_box(@game.home_url, @game.home_team_abv).html_safe %>
    <div class="text-center"><h3><%= @game.away_team %></h3></div>
    <%= create_box(@game.away_url, @game.away_team_abv).html_safe %>
  </div>
</div>
