<!DOCTYPE html>
<html>
<head>
  <title>ReNBA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row" style="height:80px;">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">reNBA</a>
      </div>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-md-2">
    <%= render partial: 'games/left' %>
  </div>
  <div class="col-md-8">
    <%= yield %>
  </div>
  <div class="col-md-2">
    <%= render partial: 'games/right' %>
  </div>
</div>
<div class="row">
  <%= render partial: 'games/stats' %>
</div>
</body>
</html>
