<!DOCTYPE html>
<html>
<head>
  <title>ReNBA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.min.js"></script>
  <script src="//cdn.jsdelivr.net/hogan.js/3.0.0/hogan.common.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.single-game').hide();
  });
  </script>
</head>
<body>
<div class="row">
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">reNBA</a>
      </div>
    </div>
  </nav>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="true">
  <div class="overlay"></div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" id="jordan"></div>
    <div class="item" id="durant"></div>
    <div class="item" id="kobe"></div>
    <div class="item" id="lebron"></div>
  </div>
  <div class="carousel-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Watch NBA Games, ANYTIME</h1>
          <div class="form-group">
            <div id='inputfield'>
              <input class="input" id="search" autocomplete='off' autocorrect='off' placeholder='Search for Teams, Players, and Dates' spellcheck='false' type='text'>
            </div>
          </div>
          </form>
          <a href="#results"><span class="chevron bottom"></span></a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Carousel -->

<section class='panel hidden' id="results">
  <div class='panel-body'>
    <div class='text-right text-sm' id='stats'></div>
    <div class="panel-body" id="hits"></div>
    <div id="pagination"></div>
  </div>
</section>

<div class="container single-game">


<div class="container videos">
  <div class="row">
    <div class="col-md-2">
      <%= render partial: 'games/left' %>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-2">
      <%= render partial: 'games/right' %>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'games/stats' %>
  </div>
</div>
<script type="text/template" id="pagination-template">
  <div class="text-center">
    <ul class="pagination">
      <li {{^prev_page}}class="disabled"{{/prev_page}}><a href="#" onclick="{{#prev_page}}gotoPage({{ prev_page }});{{/prev_page}} return false;">&laquo;</a></li>
      {{#pages}}
        <li class="{{#current}}active{{/current}}{{#disabled}}disabled{{/disabled}}"><a href="#" onclick="{{^disabled}}gotoPage({{ number }});{{/disabled}} return false;">{{ number }}</a></li>
      {{/pages}}
      <li {{^next_page}}class="disabled"{{/next_page}}><a href="#" onclick="{{#next_page}}gotoPage({{ next_page }});{{/next_page}} return false;">&raquo;</a></li>
    </ul>
  </div>
</script>
</body>
</html>
